/* using mostly the same breakpoints as defined in Tailwind */

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    padding: 0.5em;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 32.5% 32.5% 35%;
    padding: 0.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    padding: 0.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 37.5% 37.5% 25%;
    padding: 0.5em;
  }
}

.ranking-list {
  display: grid;
  grid-template-columns: 80% 20%;
}
